
# Directory where to save the JSON documents 
#DOCUMENT_ROOT = "/tmp/Schedule/events"

# Location of the SSL certificate and key
#SSL_CERT_DIR  = "/tmp/Schedule/ssl"

# HOST and PORT
#HOST  = "0.0.0.0"
#PORT  = 8888

# Debugging
DEBUG = True
#DEBUG = False
